<div class="page-header">
  <h1><span id="editable-name"><%= @metric.name %></span> <small><%= @metric.type %></small></h1>
<p id="editable-description"><%= @metric.description %></p>
</div>
<form id="add_group" action="<%= url("/metrics/#{@metric.type}/#{@metric.type_id}/groups") %>" method="post"><input id="add_group_input" type="hidden" name="group_id"></form>
<ul class="nav nav-tabs">
  <% if @group.nil? %><li class="active"><% else %><li><% end %><a href="?">All</a></li>
  <% @metric.groups.each do |group| %>
    <% if @group == group %><li class="active"><% else %><li><% end %><a href="?group_id=<%= group.id %>"><%= group.name %></a></li>
  <% end %>
  <% if @metric.addable_groups.any? %>
  <li class="dropdown">
     <a id="drop5" role="button" data-toggle="dropdown" href="#">Segment by Group <b class="caret"></b></a>
        <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
          <% @metric.addable_groups.each do |group| %>
          <li role="presentation" data-group-id="<%= group.id %>" data-group-name="<%= group.name %>" class="add-group"><a role="menuitem" tabindex="-1" href="#"><%= group.name %></a></li>
          <% end %>
        </ul>
  </li>
  <% end %>
</ul>

<!--Load the AJAX API-->
<script src="<%= url('javascripts/jquery-1.10.2.min.js') %>"></script>
<script src="<%= url('javascripts/bootstrap.min.js') %>"></script>
<script src="<%= url('bootstrap3-editable/js/bootstrap-editable.min.js') %>"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  $('ul.nav-tabs').on("click", ".add-group", function (e) {
    e.preventDefault();
    var groupId = $(this).data("group-id");
    var groupName = $(this).data("group-name");

    if(confirm("Start collecting data by group "+groupName+"?")) {
      $('#add_group_input').val(groupId);
      $('#add_group').submit();
    }
  });

    //turn to inline mode
  $.fn.editable.defaults.send = 'always';
  $.fn.editable.defaults.params = function(params) {
        var obj = {};
        obj[params.name] = params.value;
        return obj;
  }

  $(document).ready(function() {
    $('#editable-name').editable({
      placement: 'right',
      type: 'text',
      url: '<%= url("metrics/#{@metric.type}/#{@metric.type_id}") %>',
      name: 'name',
      title: 'Edit metric name',
      validate: function(value) {
         if($.trim(value) == '') {
          return 'This field is required';
        }
      }
    });
    $('#editable-description').editable({
      placement: 'bottom',
      type: 'textarea',
      url: '<%= url("metrics/#{@metric.type}/#{@metric.type_id}") %>',
      name: 'description',
      title: 'Edit metric description'
    });
  });
</script>
<%= partial :'metrics/metric_data', :locals => {:metric_data => @metric.metric_data(@group) } %>



