<div class="page-header">
  <h1><span id="editable-name"><%= h @metric.name %></span> <small><%= @metric.type %></small></h1>
<p id="editable-description"><%= h @metric.description %></p>
</div>
<form id="add_group" action="<%= url("/metrics/#{@metric.type}/#{@metric.type_id}/groups") %>" method="post"><input id="add_group_input" type="hidden" name="group_id"></form>
<form id="add_cohort" action="<%= url("/metrics/#{@metric.type}/#{@metric.type_id}/cohorts") %>" method="post"><input id="add_cohort_input" type="hidden" name="cohort_id"></form>
<ul class="nav nav-tabs">
  <% if @group.nil? && @cohort.nil? %><li class="active"><% else %><li><% end %><a href="?">All</a></li>
  <% @metric.groups.each do |group| %>
    <% if @group == group %><li class="active"><% else %><li><% end %><a href="?group_id=<%= group.id %>"><%= h group.name %></a></li>
  <% end %>
  <% @metric.cohorts.each do |cohort| %>
    <% if @cohort == cohort %><li class="active"><% else %><li><% end %><a href="?cohort_id=<%= cohort.id %>"><%= h cohort.name %></a></li>
  <% end %>

  <li class="dropdown">
     <a id="drop5" role="button" data-toggle="dropdown" href="#">Add <b class="caret"></b></a>
        <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
          <% if @metric.addable_groups.any? %>
            <li role="presentation" class="dropdown-header">Group Metrics</li>
            <% @metric.addable_groups.each do |group| %>
            <li role="presentation" data-group-id="<%= group.id %>" data-group-name="<%= h group.name %>" class="add-group"><a role="menuitem" tabindex="-1" href="#"><%= group.name %></a></li>
            <% end %>
          <% else %>
            <li role="presentation" class="dropdown-header">No Group Metrics</li>
          <% end %>
          <li role="presentation" class="divider"></li>
          <% if @metric.addable_cohorts.any? %>
            <li role="presentation" class="dropdown-header">Cohort Metrics</li>
            <% @metric.addable_cohorts.each do |cohort| %>
            <li role="presentation" data-cohort-id="<%= cohort.id %>" data-cohort-name="<%= h cohort.name %>" class="add-cohort"><a role="menuitem" tabindex="-1" href="#"><%= h cohort.name %></a></li>
            <% end %>
          <% else %>
            <li role="presentation" class="dropdown-header">No Cohort Metrics</li>
          <% end %>
        </ul>
  </li>
</ul>

<!--Load the AJAX API-->
<script src="<%= url('javascripts/jquery-1.10.2.min.js') %>"></script>
<script src="<%= url('javascripts/bootstrap.min.js') %>"></script>
<script src="<%= url('bootstrap3-editable/js/bootstrap-editable.min.js') %>"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  $('ul.nav-tabs').on("click", ".add-group", function (e) {
    e.preventDefault();
    var groupId = $(this).data("group-id");
    var groupName = $(this).data("group-name");

    if(confirm("Start collecting data by group "+groupName+"?")) {
      $('#add_group_input').val(groupId);
      $('#add_group').submit();
    }
  });

  $('ul.nav-tabs').on("click", ".add-cohort", function (e) {
    e.preventDefault();
    var cohortId = $(this).data("cohort-id");
    var cohortName = $(this).data("cohort-name");

    if(confirm("Start collecting data by cohort "+cohortName+"?")) {
      $('#add_cohort_input').val(cohortId);
      $('#add_cohort').submit();
    }
  });



    //turn to inline mode
  $.fn.editable.defaults.send = 'always';
  $.fn.editable.defaults.params = function(params) {
        var obj = {};
        obj[params.name] = params.value;
        return obj;
  }

  $(document).ready(function() {
    $('#editable-name').editable({
      placement: 'right',
      type: 'text',
      url: '<%= url(@metric.path) %>',
      name: 'name',
      title: 'Edit metric name',
      validate: function(value) {
         if($.trim(value) == '') {
          return 'This field is required';
        }
      }
    });
    $('#editable-description').editable({
      placement: 'bottom',
      type: 'textarea',
      url: '<%= url(@metric.path) %>',
      name: 'description',
      title: 'Edit metric description'
    });
  });
</script>
<%= partial :'shared/charts', :locals => {:charts => @charts } %>
