<div class="page-header">
  <h1><span id="editable-name"><%= @metric.name %></span> <small><%= @metric.type %></small></h1>
</div>
<p id="editable-description"><%= @metric.description %></p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <% @metric.groups.each do |group| %>
  <li><a href="#"><%= group.name %></a></li>
  <% end %>
  <li class="dropdown">
     <a id="drop5" role="button" data-toggle="dropdown" href="#">Segment by Group <b class="caret"></b></a>
        <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
          <% @metric.addable_groups.each do |group| %>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= group.name %></a></li>
          <% end %>
        </ul>
  </li>
</ul>

<div id="recent_hours_chart_div"></div>
<div id="recent_days_chart_div"></div>

<!--Load the AJAX API-->
<script src="<%= url('javascripts/jquery-1.10.2.min.js') %>"></script>
<script src="<%= url('javascripts/bootstrap.min.js') %>"></script>
<script src="<%= url('bootstrap3-editable/js/bootstrap-editable.min.js') %>"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawHoursChart);
  google.setOnLoadCallback(drawDaysChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawHoursChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Hour');
    data.addColumn('number', 'Result');
    data.addRows([
    <%= @metric.recent_hours.map{|h| "[#{js_hour(h.hour)}, #{h.result}]" }.join(',') %>
    ]);

    // Set chart options
    var options = {'title':'Last 24 Hours',
                   // 'width':900,
                   'height':300};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.LineChart(document.getElementById('recent_hours_chart_div'));
    chart.draw(data, options);
  }

  function drawDaysChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Day');
    data.addColumn('number', 'Result');
    data.addRows([
    <%= @metric.recent_days.map{|d| "[#{js_date(d.date)}, #{d.result}]" }.join(',') %>
    ]);

    // Set chart options
    var options = {'title':'Last 28 Days',
                   // 'width':900,
                   'height':300};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.LineChart(document.getElementById('recent_days_chart_div'));
    chart.draw(data, options);
  }

  //turn to inline mode
  $.fn.editable.defaults.send = 'always';
  $.fn.editable.defaults.params = function(params) {
        var obj = {};
        obj[params.name] = params.value;
        return obj;
  }

  $(document).ready(function() {
    $('#editable-name').editable({
      placement: 'right',
      type: 'text',
      url: '<%= url("metrics/#{@metric.type}/#{@metric.type_id}") %>',
      name: 'name',
      title: 'Edit metric name',
      validate: function(value) {
         if($.trim(value) == '') {
          return 'This field is required';
        }
      }
    });
    $('#editable-description').editable({
      placement: 'bottom',
      type: 'textarea',
      url: '<%= url("metrics/#{@metric.type}/#{@metric.type_id}") %>',
      name: 'description',
      title: 'Edit metric description'
    });
  });
</script>

