<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart','table']});

  $(function(){
    $(".toggle_data_table").on("click", function(e){
      e.preventDefault();
      $($(this).data("target")).toggle();
    });
  });
</script>

<% charts.each do |chart| %>
  <div id="<%= chart.dom_id %>"></div>
  <p><a href="#" class="toggle_data_table" data-target="#<%= chart.dom_id %>_table">View/Hide Data Table</a></p>
  <div id="<%= chart.dom_id %>_table" style="display:none;"></div>
  <script type="text/javascript">
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(
      function(){
        var data = new google.visualization.DataTable(<%= chart.data.to_json %>);

        var options = <%= chart.options.to_json %>;
        var div = document.getElementById('<%= chart.dom_id %>');
        new google.visualization.LineChart(div).draw(data, options);

        // add total row for table only
        function getSum(data, column) {
          var total = 0;
          for (i = 0; i < data.getNumberOfRows(); i++)
            total = total + data.getValue(i, column);
          return total;
        }

        var total_cells = ['Total'];
        for (j = 1; j < data.getNumberOfColumns(); j++) {
          total_cells.push( getSum(data, j) );
        }
        data.addRow(total_cells);

        var chartDiv = document.getElementById('<%= chart.dom_id %>_table');
        var table = new google.visualization.Table(chartDiv);
        table.draw(data, {showRowNumber: false});
    });
  </script>
<% end %>
