<div class="page-header">
  <h1><span id="editable-name"><%= h @test.name %></span></h1>
  <p id="editable-description"><%= h @test.description %></p>
</div>

<% if @test.variations.any? %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Known Variations</h3>
  </div>
  <ul class="list-group">
  <% @test.variations.each do |variant| %>
  <li class="list-group-item"><%= h variant %></li>
  <% end %>
  </ul>
</div>

<% else %>
  <div class="alert alert-danger">
    <strong>No variations!</strong> Something may be wrong or maybe this test not been called yet.
  </div>
<% end %>

<!--Load the AJAX API-->
<script src="<%= url('javascripts/jquery-1.10.2.min.js') %>"></script>
<script src="<%= url('javascripts/bootstrap.min.js') %>"></script>
<script src="<%= url('bootstrap3-editable/js/bootstrap-editable.min.js') %>"></script>
<script type="text/javascript">
  //turn to inline mode
  $.fn.editable.defaults.send = 'always';
  $.fn.editable.defaults.params = function(params) {
        var obj = {};
        obj[params.name] = params.value;
        return obj;
  }

  $(document).ready(function() {
    $('#editable-name').editable({
      placement: 'right',
      type: 'text',
      url: '<%= url(@test.path) %>',
      name: 'name',
      title: 'Edit test name',
      validate: function(value) {
         if($.trim(value) == '') {
          return 'This field is required';
        }
      }
    });
    $('#editable-description').editable({
      placement: 'bottom',
      type: 'textarea',
      url: '<%= url(@test.path) %>',
      name: 'description',
      title: 'Edit test description'
    });
  });
</script>
