<div class="page-header">
  <h1><span id="editable-name"><%= h(@test.name) %></span></h1>
  <p id="editable-description"><%= h(@test.description) %></p>
</div>

<% if @test.variations.any? %>
<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">Known Variations</h3>
  </div>
  <ul class="list-group">
      <% @a_test, @b_test = @test.ab_variations %>

    <li class="list-group-item">
      <%= h(@a_test) %>

      <div class="progress" id="editable-a_rate">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; overflow: visible;">
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <%= h(@b_test) %>

      <div class="progress" id="editable-b_rate">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; overflow: visible;">
        </div>
      </div>
    </li>

  </ul>
</div>

<% else %>
  <div class="alert alert-danger">
    <strong>No variations!</strong> Something may be wrong or maybe this test not been called yet.
  </div>
<% end %>

<!--Load the AJAX API-->
<script src="<%= url('javascripts/jquery-1.10.2.min.js') %>"></script>
<script src="<%= url('javascripts/bootstrap.min.js') %>"></script>
<script src="<%= url('bootstrap3-editable/js/bootstrap-editable.min.js') %>"></script>
<script type="text/javascript">
  //turn to inline mode
  $.fn.editable.defaults.send = 'always';
  $.fn.editable.defaults.params = function(params) {
        var obj = {};
        obj[params.name] = params.value;
        return obj;
  }

  $(document).ready(function() {
    $('#editable-name').editable({
      placement: 'right',
      type: 'text',
      url: '<%= url(@test.path) %>',
      name: 'name',
      title: 'Edit test name',
      validate: function(value) {
         if($.trim(value) == '') {
          return 'This field is required';
        }
      }
    });
    $('#editable-description').editable({
      placement: 'bottom',
      type: 'textarea',
      url: '<%= url(@test.path) %>',
      name: 'description',
      title: 'Edit test description'
    });
    $('#editable-a_rate').editable({
      type: 'number',
      value: <%= @test.a_rate %>,
      display: function(value, sourceData) {
        var color = "#fff";
        if (value < 10) {
          color = "#000";
        }
        $(".progress-bar", this).attr("aria-valuenow", value).
                                 html(value + "% probability of seeing A").
                                 width(value+'%').
                                 css('color', color);
      },
      url: '<%= url(@test.path) %>',
      name: 'a_rate',
      title: '%',
      success: function () { window.location.reload() },
      validate: function(value) {
         if($.trim(value) == '') {
          return 'This field is required';
        }
      }
    });

    $('#editable-b_rate').editable({
      type: 'number',
      value: <%= @test.b_rate %>,
      display: function(value, sourceData) {
        var color = "#fff";
        if (value < 10) {
          color = "#000";
        }
        $(".progress-bar", this).attr("aria-valuenow", value).
                                 html(value + "% probability of seeing B").
                                 width(value+'%').
                                 css('color', color);
      },
      url: '<%= url(@test.path) %>',
      name: 'b_rate',
      title: '(cannot edit, must edit A, this field is 100%-A',
      success: function () { window.location.reload() },
      validate: function(value) {
         if($.trim(value) == '') {
          return 'This field is required';
        }
      }
    });

  });
</script>
