<div class="page-header">
  <div id="status-buttons-group" class="btn-group pull-right" data-current-status="<%= @feature.status %>">
    <button type="button" class="btn" value="active" data-selected-class="btn-success">Active</button>
    <button type="button" class="btn" value="rollout" data-selected-class="btn-warning">Roll Out</button>
    <button type="button" class="btn" value="inactive" data-selected-class="btn-danger">Inactive</button>
  </div>
  <h1><span id="editable-name"><%= h @feature.name %></span> <small>Feature</small></h1>
  <p id="editable-description"><%= h @feature.description %></p>
</div>

<form id="add_metric" action="<%= url("/features/#{@feature.id}/metrics") %>" method="post"><input id="add_metric_type_input" type="hidden" name="metric_type"><input id="add_metric_type_id_input" type="hidden" name="metric_type_id"></form>
<ul class="nav nav-tabs" style="margin-bottom: 20px">
  <% if @metric.nil? && !%w(activity visibility).any?{|k| @params.key?(k) } %><li class="active"><% else %><li><% end %><a href="?">Status</a></li>
  <% if @params.key?('activity') %><li class="active"><% else %><li><% end %><a href="?activity">Activity</a></li>
  <% if @params.key?('visibility') %><li class="active"><% else %><li><% end %><a href="?visibility">Visibility</a></li>
  <% @feature.metrics.each do |metric| %>
    <% if @metric == metric %><li class="active"><% else %><li><% end %><a href="?metric_type=<%= metric.type %>&amp;metric_type_id=<%= metric.type_id %>"><%= h metric.name %></a></li>
  <% end %>
  <li class="dropdown">
    <a id="drop5" role="button" data-toggle="dropdown" href="#">Add <b class="caret"></b></a>
    <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
      <% if @feature.addable_metrics.any? %>
        <li role="presentation" class="dropdown-header">Metrics</li>
        <% @feature.addable_metrics.each do |metric| %>
        <li role="presentation" data-metric-type-id="<%= metric.type_id %>" data-metric-type="<%= metric.type %>" data-metric-name="<%= h metric.name %>" class="add-metric"><a role="menuitem" tabindex="-1" href="#"><%= h metric.name %></a></li>
        <% end %>
      <% else %>
        <li role="presentation" class="dropdown-header">No Metrics</li>
      <% end %>
    </ul>
  </li>
</ul>



<!--Load the AJAX API-->
<script src="<%= url('javascripts/jquery-1.10.2.min.js') %>"></script>
<script src="<%= url('javascripts/bootstrap.min.js') %>"></script>
<script type="text/javascript">
  $('ul.nav-tabs').on("click", ".add-metric", function (e) {
    e.preventDefault();
    var metricType = $(this).data("metric-type");
    var metricTypeId = $(this).data("metric-type-id");
    var metricName = $(this).data("metric-name");

    if(confirm("Start collecting: "+metricName+"?")) {
      $('#add_metric_type_input').val(metricType);
      $('#add_metric_type_id_input').val(metricTypeId);
      $('#add_metric').submit();
    }
  });

  $("#status-buttons-group").on("click", ":button", function (e) {
    e.preventDefault();
    var status = $(this).val();
    $('#status-buttons-group').data("current-status", status);
    $.post( "<%= url(@feature.path) %>", { status: status } , updateButtonStates);
  });

  function updateButtonStates(){
    var v = $('#status-buttons-group').data("current-status");
    $( "#status-buttons-group :button" ).removeClass();
    $( "#status-buttons-group :button" ).addClass("btn");
    var selectedClass = $( "#status-buttons-group :button[value='"+v+"']" ).data("selected-class");
    $( "#status-buttons-group :button[value='"+v+"']" ).addClass( selectedClass );
    $( ".feature-status-panel" ).addClass("hidden");
    $( "#"+v ).removeClass("hidden");
  }

  function clearHightlights() {
    $("tr.highlight-red").removeClass("highlight-red");
    $("tr.highlight-green").removeClass("highlight-green");
    $("td.explanation").html("");
  }

  function explanation(thresholdModulus, usersRate, featureActiveForUser) {
    var wholeExplanation = "&larr; Since this user's threshold modulus is " +
      thresholdModulus + ", which is ";

    if(featureActiveForUser) {
      wholeExplanation += " &lt; <span class='users-rate'>" +
        usersRate + "</span>, this feature is <span class='highlight-green'>active</span>.";
    } else {
      wholeExplanation += " &geq; <span class='users-rate'>" +
        usersRate +
        "</span>, this feature is <span class='highlight-red'>inactive</span>";
    }

    return wholeExplanation;
  }

  function highlightRow(index, userId) {
    var thresholdModulus, usersRate,
        usersRate = parseInt($("#users_rate")[0].value),
        thresholdModulus = parseInt($("tr.row" + index + " td")[1].innerHTML),
        featureActiveForUser = thresholdModulus < usersRate;

    if(featureActiveForUser) {
      $("tr.row" + index).addClass("highlight-green");
    } else {
      $("tr.row" + index).addClass("highlight-red");
    }

    $("tr.row" + index + " td.explanation").html(
        explanation(thresholdModulus, usersRate, featureActiveForUser));
  }

  function calculateModulusAndHighlight() {
    var userId = parseInt($("#user_id")[0].value),
        index = -1;

    if(userId >= 0) {
      clearHightlights();
      index = userId % 100;
      highlightRow(index, userId);
    } else {
      clearHightlights();
    }
  }

  function bindUserIdTextField() {
    $("#user_id").keydown(calculateModulusAndHighlight);
    $("#user_id").keyup(calculateModulusAndHighlight);
    $("#users_rate").keydown(calculateModulusAndHighlight);
    $("#users_rate").keyup(calculateModulusAndHighlight);
  }

  $(document).ready(function() {
      updateButtonStates();
      bindUserIdTextField();
  });
</script>

<% if @metric %>
  <% chartable = Blackbeard::FeatureMetric.new(@feature, @metric) %>
  <%= partial :'shared/charts', :locals => {:charts => [chartable.recent_hours_chart, chartable.recent_days_chart]} %>
<% elsif @params.key?('activity') %>
  <%= partial :'shared/charts', :locals => {:charts => [@feature.recent_hours_chart, @feature.recent_days_chart]} %>
  <div class="bs-callout bs-callout-info">
    <h4>Understanding Feature Activtity</h4>
    <p>Activity is the number of times a feature was queried as active or inactive via <code>$pirate.feature_active?(:example)</code>. Ideally this is the number of times that a user did (or did not) experience a feature.
      To prevent counting you can pass false in as a second argument, <code>$pirate.feature_active?(:example, <strong>false</strong>)</code>.</p>
  </div>
<% elsif @params.key?('visibility') %>
  <h2>Threshold moduli</h2>
  <p><em>
      In order to make features statistically indepdendent, each feature has a unique, randomized array of the numbers 0 to 99. The decision of whether a given user or visitor will see a feature is made by checking if the following statement is true:
      <pre>threshold_moduli[user_id % 100] < <span class="users-rate">users_rate</span></pre>
  </em></p>

  <label for="user_id" style="margin-top: 30px">user_id</label>
  <input id="user_id" type="text" style="margin-right: 15px;"></input>

  <label for="users_rate">users_rate</label>
  <input id="users_rate" class="users-rate" type="text" value="50" style="margin-bottom: 30px"></input>

  <table class="threshold-moduli">
    <tr>
      <th>Index</th>
      <th>Threshold Modulus</th>
    </tr>
    <% @feature.threshold_moduli.each_with_index do |threshold_modulus, index| %>
      <tr class="row<%= index %>">
        <td><%= index %></td>
        <td><%= threshold_modulus %></td>
        <td class="explanation"></td>
      </tr>
    <% end %>
  <% else %>
  <%= partial :'features/status_panel' %>
<% end %>
